/* ----------------------------------------------- */
/* HTML Elements */

* {
    padding: 0px;
    margin: 10px;
    color: red;
    text-align: center;
}
head {
    margin: 1in 1in 1in;
}
body {
    padding: 0px;
    margin: 1in;
    text-align: center;
}

article {
    border: 1px solid tan;
    box-shadow: 2px 2px 5px tan;
    margin: 3em;
    padding: 1em;
}

aside {
    background-color: tan;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    color: white;
    border: 2px solid red;
    float: right;
    width: 45%;
    margin-right: 1in;
}

footer {
    clear: both;
    text-align: center;
    margin: 1in;
    padding: 2em;
}

header {
    border: 3px solid red;
    background-color: tan;
    font-family: sans-serif;
    height: 120px;
    padding: 0;
    margin-top: 1in;
    margin-left: 1in;
    margin-right: 1in;
}

header * {
    color: red;
    text-align: center;
}

hr {
    padding: 0px;
    border: 4px solid red;
}

li {
    margin: 5px 3em;
    padding: 0px;
}

/* ----------------------------------------------- */
/* Classes */

.header_logo {
    width: 80px;
    float: right;
    background-color: white;
    box-shadow: 2px 2px 5px tan;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0;
}

.page {
    padding: 2em;
    box-shadow: 2px 2px 5px grey;
    background-color: #eeeeee;
    border: 3px solid red;
    border-radius: 10px;
    width: 50%;
    float: left;
}



h1 {
    color: red;
    text-align: center;
    background-color: gray;
}